---
import BasicLayout from '../../layouts/BasicLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { author, site } from '../../config';
import {
  getPostUpdateDateSync,
  getPostPubDateSync,
  getPostDescription,
} from '../../utils/other';
import AuthorCard from '../../components/Cards/AuthorCard.astro';
import PostLinkCard from '../../components/Cards/PostLinkCard.astro';
import CategoriesCard from '../../components/Cards/CategoriesCard.astro';
import { categoryMap, tagMap } from '../../utils/page-indices';

export interface Props {
  category: string;
  posts: CollectionEntry<'blog'>[];
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  
  return Array.from(categoryMap.keys()).map((category) => ({
    params: { category },
    props: { category, posts },
  }));
}

const { category } = Astro.params;
const { category: categoryName, posts } = Astro.props;

type FilteredPost = {
  updateDate?: Date;
  pubDate?: Date;
  description?: string;
  post: CollectionEntry<'blog'>;
};

const filteredPosts = posts
  .filter((post) => post.data.category && post.data.category === categoryName)
  .map((post) => ({
    updateDate: getPostUpdateDateSync(post.data, post.filePath),
    pubDate: getPostPubDateSync(post.data, post.filePath),
    description: getPostDescription(post.data, post.body),
    post,
  }))
  .sort((a, b) => {
    if (!a.updateDate || !b.updateDate) {
      return 0;
    }
    return b.updateDate.getTime() - a.updateDate.getTime();
  });
---

<BasicLayout coverImage={site.defaultCover}>
  <Fragment slot="major">
    <main transition:name="post-content-card" class="link-cards">
      <h1>分类：{categoryName}</h1>
      <p>共找到 {filteredPosts.length} 篇相关文章</p>

      {
        filteredPosts.length > 0 ? (
          filteredPosts.map((args: FilteredPost) => {
            return <PostLinkCard {...args} />;
          })
        ) : (
          <p>什么都没有~</p>
        )
      }
    </main>
  </Fragment>

  <Fragment slot="aside">
    {
      author.defaultAuthor && (
        <AuthorCard
          transition:name="author-card"
          authorId={author.defaultAuthor}
        />
      )
    }
    <CategoriesCard
      categories={categoryMap
        .entries()
        .map(([category, posts]) => ({
          name: category,
          count: posts.length,
        }))
        .toArray()}
      transition:name="categories-card"
    />
  </Fragment>
</BasicLayout>

<style lang="stylus">
  .link-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    h1 {
      font-size: 2em;
      margin-bottom: 0.5em;
      color: var(--accent);
    }

    p {
      margin-bottom: 1.5em;
      color: var(--text-light);
    }
  }
</style>
