// Palette Colors

@import './color'

:root
  for name, color-list in palette
    {'--' + name}: color-list[0]
  color-scheme: light
:root.dark
  for name, color-list in palette
    {'--' + name}: color-list[1]
  color-scheme: dark

:root
  --font-sans-serif: 'Roboto', 'Noto Sans', sans-serif