---
import { site, theme } from '../config';
import { Font } from 'astro:assets';
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<!-- CSS Variables -->
<style is:global lang="stylus">
  @import "../styles/variables"
</style>

<!-- Font  -->
<Font cssVariable="--font-monospace" preload />

<script define:vars={{ theme }}>
  window.__CONFIG__ = {
    theme,
  };
</script>
<script src="../client/run/preference.ts"></script>

<title>
  {site.title}{site.titleTemplate ? ` | ${site.titleTemplate}` : ''}
</title>
