
.meta
  display: inline flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: var(--font-monospace);
  font-size: 0.85rem;
  padding: 6px 14px;
  background-color: var(--meta-bg);
  border: 1px solid var(--border);
  border-radius: 6px;

  :global(.padded-icon-svg)
    width: 1em;
    height: 1em;