---
import { tagurl } from '../../utils/url';
import Icon from '../Icon.astro';

export interface Props {
  icon?: string;
  tags?: string[];
}

const { icon = 'mdi:tag-multiple-outline', tags } = Astro.props;
---

{
  tags && (
    <div class="meta">
      <Icon class="padded-icon-svg" src={icon} />
      {tags.map((tag) => (
        <div
          class="tag"
          onclick={`window.__CAKES__.navigate(\`${tagurl.with(tag)}\`); event.preventDefault();`}
        >
          {tag}
        </div>
      ))}
    </div>
  )
}

<style lang="stylus">
  @import './meta.styl';

  .meta {
    flex-wrap: wrap;
  }

  .tag {
    background-color: var(--primary-container);
    padding: 2px 4px;
    border-radius: 6px;
    text-wrap: nowrap;
    color: var(--text-muted);

    transition: color var(--expressive-default-effects);

    &:hover {
      color: var(--text);
    }
  }
</style>
