---
import PostContent from '../components/PostContent.astro';
import AuthorCard from '../components/Cards/AuthorCard.astro';
import BasicLayout from './BasicLayout.astro';

import type { CollectionEntry } from 'astro:content';
import { author as authorConfig } from '../config';

export type Props = {
  post: CollectionEntry<'blog'>;
};

const { coverImage, author: postAuthor, title } = Astro.props.post.data;

const author = postAuthor ?? authorConfig.defaultAuthor;

const layoutProps = {
  coverImage,
  head: {
    titleText: title,
    type: 'article',
    post: Astro.props.post,
  },
} satisfies Parameters<typeof BasicLayout>[0];
---

<BasicLayout {...layoutProps}>
  <Fragment slot="major">
    <main class="card article-content-card">
      <PostContent post={Astro.props.post} />
    </main>
  </Fragment>

  <Fragment slot="aside">
    {author && <AuthorCard authorId={author} />}
  </Fragment>
</BasicLayout>

<style lang="stylus">
  :global(.page:has(.cover-image) .article-content-card) {
    margin-top: calc(-1.5rem - 64px - 48px);
  }

  .article-content-card {
    padding: 32px;
  }
</style>
